[Desktop Entry]
Name=Maia Transparent
Comment=Theme with fully transparent panel and menus - a slight modification of original Maia theme for Manjaro KDE
X-KDE-PluginInfo-Author=Michał Dybczak
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=michal.dybczak@gmail.com
X-KDE-PluginInfo-Name=Maia_Transparent
X-KDE-PluginInfo-Version=4.2
X-KDE-PluginInfo-Website=https://www.pling.com/p/1085371
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC BY-SA
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.13+
